[submodule "projects/board"]
	path = projects/board
	url = git@github.com:angularstudio/board.git
[submodule "projects/button"]
	path = projects/button
	url = git@github.com:angularstudio/button.git
[submodule "projects/board-button"]
	path = projects/board-button
	url = git@github.com:angularstudio/board-button.git
[submodule "projects/toolbar"]
	path = projects/toolbar
	url = git@github.com:angularstudio/toolbar.git
[submodule "projects/dialog"]
	path = projects/dialog
	url = git@github.com:angularstudio/dialog.git
[submodule "projects/card"]
	path = projects/card
	url = git@github.com:angularstudio/card.git
[submodule "projects/toggle"]
	path = projects/toggle
	url = git@github.com:angularstudio/toggle.git
[submodule ".ngmake"]
	path = .ngmake
	url = git@github.com:angularstudio/.ngmake.git
