[submodule "projects/board"]
	path = projects/board
	url = git@github.com:angularstudio/board.git
[submodule "projects/button"]
	path = projects/button
	url = git@github.com:angularstudio/button.git
[submodule "projects/board-button"]
	path = projects/board-button
	url = git@github.com:angularstudio/board-button.git
[submodule "projects/toolbar"]
	path = projects/toolbar
	url = git@github.com:angularstudio/toolbar.git
[submodule "projects/dialog"]
	path = projects/dialog
	url = git@github.com:angularstudio/dialog.git
[submodule "projects/card"]
	path = projects/card
	url = git@github.com:angularstudio/card.git
[submodule "projects/toggle"]
	path = projects/toggle
	url = git@github.com:angularstudio/toggle.git
[submodule ".ngmake"]
	path = .ngmake
	url = git@github.com:angularstudio/.ngmake.git
[submodule "projects/plans"]
	path = projects/plans
	url = git@github.com:angularstudio/plans.git
[submodule "projects/datatable"]
	path = projects/datatable
	url = git@github.com:angularstudio/datatable.git
[submodule "projects/features-table"]
	path = projects/features-table
	url = git@github.com:angularstudio/features-table.git
[submodule "projects/dynamic-form"]
	path = projects/dynamic-form
	url = git@github.com:angularstudio/dynamic-form.git
[submodule "projects/login"]
	path = projects/login
	url = git@github.com:angularstudio/login.git
[submodule "projects/buttons"]
	path = projects/buttons
	url = git@github.com:angularstudio/buttons.git
[submodule "projects/confirm"]
	path = projects/confirm
	url = git@github.com:angularstudio/confirm.git
