<!--<div class="wrapper mat-elevation-z6">-->

<!--    <div class="top">-->

<!--        <toolbar [config]="toolbar">-->

<!--            <div class="left" left>-->

<!--                <div class="icon">-->

<!--                    <img src="https://storage.googleapis.com/streamnvr-assets/gfx/logos/icon.png">-->

<!--                </div>-->

<!--                <div class="logo">-->

<!--                    <img src="https://storage.googleapis.com/streamnvr-assets/gfx/logos/logo-text.png">-->

<!--                </div>-->

<!--            </div>-->

<!--            <div class="logo" center>-->

<!--                center-->

<!--            </div>-->

<!--        </toolbar>-->

<!--    </div>-->

<!--    <div class="content" fxLayout="row">-->

<!--        <div class="left">-->

<!--            <board [collapsed]="true" [board]="board"></board>-->

<!--        </div>-->

<!--        <div class="right" fxLayout="column" fxFlexAlign="center" fxLayoutAlign="center">-->

<!--            <toggle [config]="toggle"></toggle>-->

<!--            &lt;!&ndash;            <features-table [config]="features"></features-table>&ndash;&gt;-->

<!--            <plans [config]="plans"></plans>-->

<!--            <buttons [config]="buttons"> asdfasd fas asd fsfs</buttons>-->

<!--        </div>-->

<!--    </div>-->

<!--</div>-->

<app-manager></app-manager>
