<div class="wrapper">

    <!--    <board-button [item]="{-->

    <!--        backgroundColor: '#222',-->
    <!--        borderColor: 'red',-->
    <!--        fontColor: 'green',-->
    <!--        iconClass: 'fad fa-home',-->
    <!--        iconColor: 'blue',-->
    <!--        iconFontSize: '20px',-->
    <!--        label: 'Home',-->
    <!--        labelFontSize: '50px',-->
    <!--        labelFontColor: 'rebeccapurple',-->
    <!--        tooltip: 'Go Home!'-->

    <!--    }"></board-button>-->

    <board [board]="board"></board>

</div>
